In [4]:
import sqlite3
import pandas as pd

In [5]:
def Create_Database_Table(database_name,table_name):
    
    # Connect to or create a new SQLite database
    conn = sqlite3.connect(f'{database_name}.db')

    # Create a cursor object
    cursor = conn.cursor()

    # Execute a SQL command to create a table
    cursor.execute(f'''CREATE TABLE IF NOT EXISTS {table_name} ([id] INTEGER PRIMARY KEY, [Symbole] TEXT, [From-Type] TEXT,
                        [From-Time] TEXT, [Till-Type] TEXT, [Till-Time] TEXT, [Trade-Type] TEXT, [Entry-Price] Float,
                        [TakeProfit-Price] Float, [StopLoss-Price] Float, [CurrentDateTime] TEXT, [CurrentPrice] Float)''')

    # Commit changes and close the connection
    conn.commit()
    conn.close()

In [6]:
# Example to create database and table
# Create_Database_Table('database_name','table_name')

In [7]:
def Insert_Data (database_name,table_name,main_tuple):
    
    # Connect to or create a new SQLite database
    conn = sqlite3.connect(f'{database_name}.db')

    # Create a cursor object
    cursor = conn.cursor()
    
    # Example data
    data_to_insert = main_tuple
    
    # Execute data to table
    cursor.execute(f'''INSERT INTO {table_name} ([Symbole], [From-Type], [From-Time], [Till-Type], [Till-Time], [Trade-Type],
                   [Entry-Price], [TakeProfit-Price], [StopLoss-Price], [CurrentDateTime],[CurrentPrice]) 
                   VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', data_to_insert)
    
    # Commit changes and close the connection
    conn.commit()
    conn.close()

In [16]:
# Example of insert data into database table
# sssss = ('s','s','s','s','s','s',1.5,1.5,1.5,'s',1.5)
# Insert_Data ('database_name','table_name', sssss)

In [13]:
def Extract_Data (database_name,table_name,Excel_path):
    
    # Connect to the SQLite database
    conn = sqlite3.connect(f'{database_name}.db')

    # Read data from the database into a pandas DataFrame
    query = f'SELECT * FROM {table_name}' 
    
    df = pd.read_sql_query(query, conn)

    # Close the database connection
    conn.close()

    # Write the data to an Excel file
    df.to_excel(Excel_path, index=False)

    print("Data has been exported")

In [17]:
# Extract_Data ('database_name','table_name','output_data.xlsx')

Data has been exported

In [21]:
# Example to extract data of database table
DatabaseName = 'Order_details'
TableName = 'Orders'
Extract_Data (DatabaseName,TableName,'OrderList.xlsx')

Data has been exported